<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogtiger.challus.repository.ChallengeMapper">
    <resultMap id="challengeMap" type="com.dogtiger.challus.entity.Challenge">
        <id property="challengeId" column="challenge_id" />
        <result property="userId" column="user_id" />
        <result property="challengeName" column="challenge_name" />
        <result property="introduction" column="challenge_introduction" />
        <result property="isOpen" column="is_open" />
        <result property="isApplicable" column="is_applicable" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="categoryName" column="category_name" />
        <result property="challengeLikeCount" column="challenge_like_count" />
    </resultMap>

    <insert id="saveChallenge" parameterType="com.dogtiger.challus.entity.Challenge">
        insert into challenge_tb
        values (
        0, #{userId}, #{challengeName}, #{layout}, #{introduction},
        <choose>
            <when test="isOpen.equals('true')">
                1
            </when>
            <otherwise>
                0
            </otherwise>
        </choose>,
        <choose>
            <when test="isApplicable.equals('true')">
                1
            </when>
            <otherwise>
                0
            </otherwise>
        </choose>,
        #{startDate}, #{endDate}, #{categoryName}, #{challengeLikeCount}
        )
    </insert>

    <insert id="challengeApplicable">
        insert into challenge_application_tb
        (
            select
                0,
                #{challengeId},
                #{userId},
                if(is_applicable = 0, 1, 0)
            from
                challenge_tb
            where
                challenge_id = #{challengeId}
        )
    </insert>

    <select id="getChallengeByChallengeId" resultMap="challengeMap">
        select
            ct.challenge_id,
            ct.user_id,
            ct.challenge_name,
            ct.challenge_introduction,
            ct.is_open,
            ct.is_applicable,
            ct.start_date,
            ct.end_date,
            ct.category_name,
            ut.name,
            ct.challenge_like_count
        from
            challenge_tb ct
            left outer join user_tb ut on(ut.user_id = ct.user_id)
        where
            ct.challenge_id = #{challengeId}
    </select>

    <select id="getChallengeList" resultMap="challengeMap" parameterType="hashmap">
        select
            ct.challenge_id,
            ct.challenge_name,
            ct.category_name,
            ct.start_date,
            ct.challenge_like_count
        from
            challenge_tb ct
            left outer join user_tb ut on(ut.user_id = ct.user_id)
        where
            1 = 1
            <choose>
                <when test="optionName.equals('전체')">
                    and ct.challenge_name like concat("%", #{searchValue}, "%")
                    or ct.category_name like concat("%", #{searchValue}, "%")
                </when>
                <when test="optionName.equals('챌린지제목')">
                    and ct.challenge_name like concat("%", #{searchValue}, "%")
                </when>
                <when test="optionName.equals('카테고리이름')">
                    and ct.category_name like concat("%", #{searchValue}, "%")
                </when>
            </choose>
        order by
            challenge_id desc
        limit #{index}, 10
    </select>
    <select id="getChallengeCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            challenge_tb ct
            left outer join user_tb ut on(ut.user_id = ct.user_id)
        where
            1 = 1
            <choose>
                <when test="optionName.equals('전체')">
                    and ct.challenge_name like concat("%", #{searchValue}, "%")
                    or ct.category_name like concat("%", #{searchValue}, "%")
                </when>
                <when test="optionName.equals('챌린지제목')">
                    and ct.challenge_name like concat("%", #{searchValue}, "%")
                </when>
                <when test="optionName.equals('카테고리이름')">
                    and ct.category_name like concat("%", #{searchValue}, "%")
                </when>
            </choose>
    </select>

    <select id="getLikeState" resultType="java.lang.Integer">
        select
            count(*)
        from
            challenge_like_tb
        where
            challenge_id = #{challengeId}
    </select>

    <select id="getUserLikeState" parameterType="com.dogtiger.challus.entity.Challenge" resultType="integer">
        select
            count(*)
        from
            challenge_like_tb
        where
            challenge_id = #{challengeId}
        and user_id = #{userId}
    </select>

    <select id="getChallengeStatus" resultType="java.lang.Integer">
        select
            count(*)
        from
            challenge_application_tb
        where
            challenge_id = #{challengeId}
        and user_id = #{userId}
        and accept_state = 1
    </select>

    <select id="getChallengeAtmospher" resultType="java.lang.Integer">
        select
            count(*)
        from
            challenge_application_tb
        where
            challenge_id = #{challengeId}
        and user_id = #{userId}
        and accept_state = 0
    </select>

    <update id="insertLike" parameterType="com.dogtiger.challus.entity.Challenge">
        insert into challenge_like_tb
        values(0, #{challengeId}, #{userId})
    </update>

    <delete id="cancelLike" parameterType="com.dogtiger.challus.entity.Challenge">
        delete
        from
            challenge_like_tb
        where
            challenge_id = #{challengeId}
        and user_id = #{userId}
    </delete>

    <delete id="challengeDelete">
        delete
        from
            challenge_tb
        where
            challenge_id = #{challengeId}
    </delete>
</mapper>