<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogtiger.challus.repository.UserMapper">

    <update id="updatePassword" parameterType="com.dogtiger.challus.entity.User">
        update user_tb
        set
            password = #{password}
        where
            userId = #{userId}s
    </update>

    <update id="updateNickname">
        update user_tb
        set
            nickname = #{nickname}
        where
            userId = #{userId}
    </update>
</mapper>